body {
    font-family: 'Oswald', sans-serif;
}

#logo {
    filter: invert(100%);
    -webkit-filter: invert(100%);
}

#header--end {
    color: blue;
    font-weight: 400;
}

/* Body */

#root {
    margin-left: 40px;
    margin-right: 40px;
}

#main-Container {
    display: flex;
}

#header2 {
    text-align: center;
    margin: 30px 0px 30px 0px;
    color: blue;
    font-weight: 400;
}

#container-Left {
    width: 50%;
}

#container-Right {
    width: 50%;
}

/* Twitter */
.twitterUserIcon {
    margin-right:20px;
}